

<div clas="container">
    <div class="card">
        <div class="card-header text-center text-white" style="background-color:#2F4EB4; height: 72pt">
            <h3>İstanbul Avrupa - Ankara</h3>
            <p>25 Ekim Perşembe</p>
        </div>

        <div class="card-body">
            <div class="list-group">
                @for (var i = 0; i < 10; i++)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Kalkış</h6>
                                </div>

                                <div class="col-6">
                                    <h6>Varış</h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <h6 style="color:#192289">09:30</h6>
                                </div>

                                <div class="col-3">
                                    <h6 style="color:#192289">15:30</h6>
                                </div>

                                <div class="col-3">
                                    <div class="badge text-wrap" style="background-color:#d23b38">
                                       75,00 TL
                                    </div>
                                </div>
                            </div>
                        </div>


                        <small>Esenler Otogarı - Ankara Aşti Otogarı</small>
                    </a>
                }
            </div>
        </div>
    </div>
</div>