@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="card custom-bg w-75 p-4 d-flex">
        <div class="header" id="obilet-search-header">
            <div class="pb-3 h3"></div>
        </div>
        <form id="obilet-form" onsubmit="return validateForm()">
            <div class="row">
                <div class="form-group col-md align-items-start flex-column">
                    <label for="origin" class="d-inline-flex">Nereden</label>
                    <input type="text" placeholder="İstanbul" class="form-control" id="origin" name="origin"
                           required>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md align-items-start flex-column">
                    <label for="depart" class="d-inline-flex">Nereye</label>
                    <input type="text" placeholder="Ankara" class="form-control" id="depart" name="depart"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md align-items-start flex-column">
                    <label for="departure-date" class=" d-inline-flex">Tarih</label>
                    <input type="date" class="form-control" id="departure-date" name="departure-date"
                           onkeydown="return false" required>
                </div>
            </div>


            <div class="row">
                <div class="text-left col-auto">
                    <button type="submit" class="btn btn-primary">Ara</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/indexpage.js"></script>
}